version: '3.8'

services:
  vote:
    read_only: true
    tmpfs:
      - /tmp
    build: ./vote
    ports:
      - "${VOTE_PORT}:8080" 
    networks:
      - frontend
      - backend
    depends_on:
      - redis
    deploy:
          resources:
            limits:
              cpus: '0.50'    
              memory: 512M    
            reservations:
              cpus: '0.10'
              memory: 128M

  result:
    build: ./result
    ports:
      - "${RESULT_PORT}:8888" 
    networks:
      - frontend
      - backend
    depends_on:
      - db

  worker:
    build: ./worker
    networks:
      - backend
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy

  redis:
    image: redis:alpine
    networks:
      - backend
    volumes:
      - redis-data:/data

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db-data:
  redis-data:

networks:
  frontend:
  backend: